<p style="color: green"><%= notice %></p>
<h1 class="text-center">Departamentos</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="departments" class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Gerente</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @departments.each do |department| %>
              <tr scope="row">
                <td><%= department.name %></td>
                <td><%= department.manager.name if department.manager %></td>
                <td>
                  <%= link_to 'Editar', edit_department_path(department), class: 'btn btn-primary' %>
                  <%= link_to 'Excluir', department, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-8 text-center">
      <%= link_to 'Novo departamento', new_department_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
